*.session
__pycache__/
*.session-journal
*.session
tempCodeRunnerFile.py
t1.py
t2.py
t3.py
token.txt
user_pass.txt
log.txt
gagan/
t4.py
t5.py
t6.py
t7.py
t8.py
t9.py
t10.py
t11.py
example.pdf
batches/
300best202opdf.txt
300best2022pdf.txt
300best2021pdf.txt
vipangsdecryptrd.txt
cer.txt
image.py
t12.py
t13.py
t14.py
t15.py
t16.py
t17.py
t18.py
test.py
test2.py
TEST1.py
Test2.py
test3.py